<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Update user</title>
</head>
<body>

<form th:method="POST" th:action="@{/edit/{id}(id=${user.getId()})}" th:object="${user}">
    <label for="name">Name:</label>
    <input type="text" th:field="*{firstName}" id="name"/>
    <label for="last name">Surname:</label>
    <input type="text" th:field="*{lastName}" id="last name"/>
    <label for="email">Email:</label>
    <input type="text" th:field="*{email}" id="email"/>
    <br/>
    <input type="submit" value="Update!"/>

</form>

</body>
</html>
